###############
##  LaTEX
###############

## Core latex/pdflatex auxiliary files:
*.aux
*.lof
*.log
*.lot
*.fls
*.out
*.toc
*.fmt
*.fot
*.cb
*.cb2
*.bak

## Build tool auxiliary files:
*.fdb_latexmk
*.synctex
*.synctex(busy)
*.synctex.gz
*.synctex.gz(busy)
*.pdfsync

###############
##  NetBeans
###############

/Prácticas/tutoriales/Tutorial_1/nbproject/private/
/Prácticas/tutoriales/Tutorial_1/build/
/Prácticas/Ejemplos/ejemplo01/build/
/Prácticas/Ejemplos/ejemplo03/ejemplo03/nbproject/private/
/Prácticas/Ejemplos/ejemplo03/ejemplo03/build/
/Prácticas/Ejemplos/HelloJava3D/nbproject/private/
/Prácticas/Ejemplos/HelloJava3D/build/
/Prácticas/Practica_1/ejemplo01/ejemplo01/build/
/Prácticas/Ejemplos/ejemplo02/ejemplo02/build/
/Prácticas/Ejemplos/HelloJava3D/HelloJava3D/nbproject/private/
/Prácticas/Ejemplos/HelloJava3D/HelloJava3D/build/
/Prácticas/Ejemplos/ejemplo02/ejemplo02/nbproject/private/